{% extends 'main/base.html' %}
{% load static %}

{% block meta %}
<!-- ========== Start Eventre Templates Head ========== -->

<!-- SITE TITTLE -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- PLUGINS CSS STYLE -->
<!-- Bootstrap -->
<link href="{% static 'assets-eventre/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<!-- Font Awesome -->
<link href="{% static 'assets-eventre/plugins/font-awsome/css/font-awesome.min.css' %}" rel="stylesheet">
<!-- Magnific Popup -->
<link href="{% static 'assets-eventre/plugins/magnific-popup/magnific-popup.css' %}" rel="stylesheet">
<!-- Slick Carousel -->
<link href="{% static 'assets-eventre/plugins/slick/slick.css' %}" rel="stylesheet">
<link href="{% static 'assets-eventre/plugins/slick/slick-theme.css' %}" rel="stylesheet">
<!-- CUSTOM CSS -->
<link href="{% static 'assets-eventre/css/style.css' %}" rel="stylesheet">

<!-- ========== End Eventre Templates Head ========== -->
{% comment %}
<link rel="stylesheet" href="{% static 'css/profil.css'%}" /> {% endcomment %}
{% endblock meta %}

{% block pagename %}Profil{% endblock pagename %}
{% block activeprofile %}nav-active{% endblock activeprofile %}

{% block content %}

<section class="section about edit-profil">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 align-self-start text-center">
        <div class="image-block bg-about" id="display-frame">
          {% if foto %}
          <img src="{{foto}}" id="display-picture" class="img-fluid" />
          {% else %}
          <img src="{% static 'img/profile-picture-default.png' %}" id="display-picture" class="img-fluid" />
          {% endif %}
          {% comment %} <img src="{% static 'img/edit-pen.png' %}" class="img-fluid" /> {% endcomment %}
          {% comment %} <img class="img-fluid" src="images/speakers/featured-speaker.jpg" alt=""> {% endcomment %}
        </div>
      </div>
      <div class="col-lg-8 col-md-6 align-self-center">
        <div class="content-block">
          <h2>Pengaturan <span class="alternate">Profil</span></h2>
          {% comment %} <div class="description-one">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusm tempor incididunt ut labore dolore
              magna aliqua enim ad minim veniam quis nostrud exercitation ullamco.
            </p>
          </div>
          <div class="description-two">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmtempor incididunt ut labore et
              dolore magna aliq enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea.
            </p>
          </div> {% endcomment %}
          <div class="container">
            {% comment %} <div class="row">
              <div class="col-12">
                <div class="section-title">
                  <h3>Get in <span class="alternate">Touch</span></h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, velit.</p>
                </div>
              </div>
            </div> {% endcomment %}
            <form method="POST" action="/profil/edit-profil/" enctype="multipart/form-data" class="row">
              {% csrf_token %}
              {% if error is not None %}
              <div class="error-message w-100">
                <p style="color:var(--primary-accent-color)">{{error}}</p>
              </div>
              {% endif %}
              <input style="display: none;" type="file" id="imageFileInput" class="input-picture" accept="image/png, image/jpeg" name="myfile" onchange="readURL(this);">
              <div class="col-lg-6">
                <label for="nama_depan" class="form-label">Nama Depan</label>
                <input name="nama_depan" type="text" id="nama_depan" value="{{nama_depan}}" required
                  class="form-control main" placeholder="Nama depan">
              </div>
              <div class="col-lg-6">
                <label for="nama_belakang" class="form-label">Nama Belakang</label>
                <input name="nama_belakang" type="text" id="nama_belakang" value="{{nama_belakang}}" required
                  class="form-control main" placeholder="Nama belakang">
              </div>
              <div class="col-lg-6">
                <label for="username" class="form-label">Username</label>
                <input name="username" type="text" id="username" value="{{username}}" required class="form-control main"
                  placeholder="Username">
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label for="jenis_kelamin" class="form-label">Jenis Kelamin</label>
                  <select class="form-control main" name="jenis_kelamin">
                    {% if jenis_kelamin == 2 %}
                    <option value="1">Laki-Laki</option>
                    <option value="2" selected>Perempuan</option>
                    {% else %}
                    <option value="1" selected>Laki-Laki</option>
                    <option value="2">Perempuan</option>
                    {% endif %}
                  </select>
                </div>
              </div>
              <div class="col-lg-6">
                <label for="tanggal_lahir" class="form-label">Tanggal Lahir</label>
                <input name="tanggal_lahir" type="date" id="tanggal_lahir" value="{{tanggal_lahir}}" required
                  class="form-control main" placeholder="Tanggal Lahir">
              </div>
              <div class="col-lg-6">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control main" name="email" id="email" value="{{email}}"
                  placeholder="Email" required>
              </div>
              <div class="col-lg-6">
                <label for="password" class="form-label">Ganti Password</label>
                <input name="password1" type="password" class="form-control main" id="password">
              </div>
              <div class="col-lg-6">
                <label for="ulangi-password" class="form-label">Ulangi Password</label>
                <input onkeyup="passwordValidation()" name="password2" type="password" class="form-control main"
                  id="ulangi-password">
              </div>
              <div class="col-lg-6">
                <label for="alamat" class="form-label">Alamat</label>
                <textarea name="alamat" class="form-control main" id="alamat"
                  placeholder="Alamat tinggal (opsional)">{{alamat}}</textarea>
              </div>
              <div class="col-lg-6">
                <label for="notelp" class="form-label">No Telp</label>
                <input name="no_telepon" class="form-control main" id="notelp" value="{{no_telepon}}"
                  placeholder="No Telepon (opsional)">
              </div>
              {% comment %} <div class="col-md-12">
                <textarea name="message" id="message" class="form-control main" rows="10"
                  placeholder="Your Message"></textarea>
              </div>
              <div class="col-12 text-center">
                <button type="submit" class="btn btn-main-md">Send Message</button>
              </div> {% endcomment %}
              <ul class="list-inline mt-3 text-center">
                <li class="list-inline-item">
                  <button id="button-submit" type="submit" class="btn btn-main-md">Simpan</button>
                  {% comment %} <a href="/profil" type="submit" class="btn btn-main-md">Simpan</a> {% endcomment %}
                </li>
                <li class="list-inline-item">
                  <a href="/profil" class="btn btn-transparent-md"
                    style="background-color: #ddd; border: 1px solid #ccc;">Batal</a>
                </li>
              </ul>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% comment %} <div class="container d-flex flex-column align-items-center justify-content-center form-re">
  <div class="container-fluid p-5 text-center pt-5 edit-profile-image-container" id="display-frame">
    {% if foto %}
    <img src="{{foto}}" id="display-picture" class="edit-profile-img" />
    {% else %}
    <img src="{% static 'img/profile-picture-default.png' %}" id="display-picture" class="edit-profile-img" />
    {% endif %}
    <img src="{% static 'img/edit-pen.png' %}" class="editable-icon" />
  </div>

  <form method="POST" action="/profil/edit-profil/" enctype="multipart/form-data">
    {% csrf_token %}

    {% if error is not None %}
    <div class="error-message w-100">
      <p style="color:var(--primary-accent-color)">{{error}}</p>
    </div>
    {% endif %}
    <input style="display: none;" type="file" id="imageFileInput" class="input-picture" accept="image/png, image/jpeg"
      name="myfile" onchange="readURL(this);">
    <div class="mb-3 mt-4">
      <label for="nama_depan" class="form-label">Nama Depan</label>
      <input name="nama_depan" type="text" class="form-control" id="nama_depan" value="{{nama_depan}}" required>
    </div>
    <div class="mb-3 mt-4">
      <label for="nama_belakang" class="form-label">Nama Belakang</label>
      <input name="nama_belakang" type="text" class="form-control" id="nama_belakang" value="{{nama_belakang}}"
        required>
    </div>
    <div class="mb-3 mt-2">
      <label for="username" class="form-label">Username</label>
      <input name="username" type="text" class="form-control" id="username" readonly value="{{username}}">
    </div>
    <div class="mb-3 mt-2">
      <label for="jeniskelamin" class="form-label">Jenis Kelamin</label>
      <select class="form-select" name="jenis_kelamin">
        {% if jenis_kelamin == 2 %}
        <option value="1">Laki-Laki</option>
        <option value="2" selected>Perempuan</option>
        {% else %}
        <option value="1" selected>Laki-Laki</option>
        <option value="2">Perempuan</option>
        {% endif %}
      </select>
    </div>
    <div class="mb-3 mt-2">
      <label for="tanggal_lahir" class="form-label">Tanggal lahir</label>
      <input name="tanggal_lahir" type="date" class="form-control" id="tanggal_lahir" value="{{tanggal_lahir}}"
        required>
    </div>
    <div class="mb-3 mt-2">
      <label for="email" class="form-label">Email</label>
      <input name="email" type="email" class="form-control" id="email" value="{{email}}" required>
    </div>

    <div class="mb-3 mt-2">
      <label for="password" class="form-label">Ganti Password</label>
      <input name="password1" type="password" class="form-control" id="password">
    </div>
    <div class="mb-3 mt-2">
      <label for="ulangi-password" class="form-label">Ulangi Password</label>
      <input onkeyup="passwordValidation()" name="password2" type="password" class="form-control" id="ulangi-password">
    </div>

    <div class="mb-3 mt-2">
      <label for="alamat" class="form-label">Alamat</label>
      <textarea name="alamat" class="form-control" id="alamat">{{alamat}}</textarea>
    </div>
    <div class="mb-3 mt-2">
      <label for="notelp" class="form-label">No Telp</label>
      <input name="no_telepon" class="form-control" id="notelp" value="{{no_telepon}}">
    </div>


    <button id="button-submit" type="submit" class="btn btn-danger w-100 mt-4">Simpan</button>
  </form>
</div>
<br><br> {% endcomment %}

<script src="{%static 'js/register.js'%}"></script>
<script src="{%static 'js/profil.js'%}"></script>
{% endblock content %}