{% extends 'main/base.html' %}
{% load static %}

{% block meta %}
<!-- ========== Start Eventre Templates Head ========== -->

<!-- SITE TITTLE -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- PLUGINS CSS STYLE -->
<!-- Bootstrap -->
<link href="{% static 'assets-eventre/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<!-- Font Awesome -->
<link href="{% static 'assets-eventre/plugins/font-awsome/css/font-awesome.min.css' %}" rel="stylesheet">
<!-- Magnific Popup -->
<link href="{% static 'assets-eventre/plugins/magnific-popup/magnific-popup.css' %}" rel="stylesheet">
<!-- Slick Carousel -->
<link href="{% static 'assets-eventre/plugins/slick/slick.css' %}" rel="stylesheet">
<link href="{% static 'assets-eventre/plugins/slick/slick-theme.css' %}" rel="stylesheet">
<!-- CUSTOM CSS -->
<link href="{% static 'assets-eventre/css/style.css' %}" rel="stylesheet">

<!-- ========== End Eventre Templates Head ========== -->
{% comment %}
<link rel="stylesheet" href="{% static 'css/profil.css'%}"> {% endcomment %}
<link rel="stylesheet" href="{% static 'css/list-event.css'%}">
{% endblock meta %}

{% block pagename %}List Venue{% endblock pagename %}
{% block activehome %}nav-active{% endblock activehome %}

{% block content %}

<div class="block">
    <div class="row">
        {% for venue in list_venue %}
        <a href="{% url 'sport-venue:venue-details' venue.nama_venue %}">
            <div class="card mb-3" style="max-width: 18rem;">
                <div class="card-header">{{venue.nama_venue}}</div>
                <div class="card-body">
                <div class="post-thumb">
                    <a href="news-single.html">
                        <img src="{{venue.link_foto}}"
                            alt="post-image" class="img-fluid">
                    </a>
                </div>
                <h5 class="card-title">{{venue.jenis_olahraga}}</div></h5>
                <p class="card-text">{{venue.provinsi}}</p>
                <p class="card-text">{{venue.kabupaten_kota}}</p>
                <p class="card-text">{{venue.no_telepon}}</p>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</div>

{% endblock content %}