{% extends 'main/base.html' %}
{% load static %}

{% block meta %}
<!-- ========== Start Eventre Templates Head ========== -->

<!-- SITE TITTLE -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- PLUGINS CSS STYLE -->
<!-- Bootstrap -->
<link href="{% static 'assets-eventre/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<!-- Font Awesome -->
<link href="{% static 'assets-eventre/plugins/font-awsome/css/font-awesome.min.css' %}" rel="stylesheet">
<!-- Magnific Popup -->
<link href="{% static 'assets-eventre/plugins/magnific-popup/magnific-popup.css' %}" rel="stylesheet">
<!-- Slick Carousel -->
<link href="{% static 'assets-eventre/plugins/slick/slick.css' %}" rel="stylesheet">
<link href="{% static 'assets-eventre/plugins/slick/slick-theme.css' %}" rel="stylesheet">
<!-- CUSTOM CSS -->
<link href="{% static 'assets-eventre/css/style.css' %}" rel="stylesheet">

<!-- ========== End Eventre Templates Head ========== -->
{% comment %}
<link rel="stylesheet" href="{% static 'css/profil.css'%}"> {% endcomment %}
<link rel="stylesheet" href="{% static 'css/list-event.css'%}">
{% endblock meta %}

{% block pagename %}List Venue{% endblock pagename %}
{% block activehome %}nav-active{% endblock activehome %}

{% block content %}
<h1>{{nama_venue}}</h1>
Provinsi : {{provinsi}} </br>
Kabupaten/Kota :{{kabupaten_kota}}</br>
Kecamatan : {{kecamatan}}</br>
Alamat : {{alamat}}</br>
Nomor Telepon :{{no_telepon}}</br>
Harga : {{harga}}</br>
Jenis Olahraga : {{jenis_olahraga}}</br>
Jadwal : {{jadwal}}</br>
Kontak Coach  : {{kontak_coach}}</br>
Fasilitas : {{fasilitas}}</br>
Sewa Alat : {{sewa_alat}}</br>
{% comment %} {{link_foto}} {% endcomment %}
Keterangan Tambahan : {{keterangan_tambahan}}</br>

{% endblock content %}