/* Project-wide style */

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --primary-base-color: #3D4058;
  --primary-accent-color: #00cce7;
  --secondary-dark-color: #8D99AE;
  --secondary-light-color: #D9D9D9;

  --primary-font: 'Bebas Neue';
  --secondary-font: 'Poppins';
}

html{
  height: 100%;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif !important;
  background-color: #5a5a5a !important; 
  display: flex;
  justify-content: center;
}

.content-container{
  width: min(659px, 100%);
  background-color: #F9F9F9;
  height: 100%;
  min-height: 100vh;
  position: relative;
}

.content-putu-container{
  width: min(659px, 100%);
  background-color: #F9F9F9;
  height: 100%;
}
