/* 
.heading2 {
    font-family: var(--secondary-font);
    font-size: 22px;
    font-weight: bold;
    color: var(--primary-base-color);

}

.btn-edit-profile:hover{
    cursor: pointer;
}

.card {
    width: 100%;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    padding: 0;
}

.card:hover {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.card-body {
    max-height: 161px;
}

.view-profile-img{
    height: 100px;
    width: 100px; 
    border: 2px solid var(--secondary-dark-color); 
    border-radius: 50%;
}

.gambar-kendaraan {
    height: 90px;
    width: 90px;
}

.list-kendaraan-title{
    color: var(--secondary-dark-color);
}

.detail-kendaraan {
    display:flex;
    flex-direction: column;
    margin-left: 30px;
}

.tambah-kendaraan{
    font-family: "Poppins";
    height: 100px;
    color: var(--secondary-dark-color);
}

.tambah-kendaraan-img{
    margin-left: 5px;
}

.nama-kendaraan {
    font-family: "Poppins";
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--primary-base-color) ;
}

.jenis {
    margin-top: -5px;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 1rem;
    color: var(--primary-base-color);
}

.terakhir-perawatan {
    font-family: "Poppins";
    font-weight: 400;
    font-size: 0.75rem;
    color: var(--secondary-dark-color); 
}

.arrow {
    width: 22px;
    height: 36px;
    margin-left: auto;
    margin-right: 20px;
}

.arrow:hover {
    cursor:pointer;
}
 */

/* ========================================================================== */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat';
}

section {
    min-height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fddcc356;
}

.container-profile {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left {
    min-width: 50vw;
    height: 65vh;
    /* background: url(image.jpg) no-repeat center / cover; */
    border-radius: 8px;
    object-fit: cover;
}

.right-content {
    max-width: 40vw;
    width: 50%;
    height: 45vh;
    background-color: #2f3d3c;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    padding: 30px;
    border-radius: 8px;
    color: white;
    margin-left: -100px;
    margin-top: 30px;
}

.right-content h1 {
    font-size: 25px;
    font-weight: lighter;
    margin: 60px 0 0 15px;
}

.right-content p {
    margin: 20px 0;
    font-size: 15px;
    font-weight: 500;
    line-height: 25px;
}

/* .right a {
    text-decoration: none;
    text-transform: uppercase;
    background-color: white;
    color: black;
    padding: 20px 30px;
    display: inline-block;
    letter-spacing: 2px;
} */

.profile {
    margin-top: -70px;
    height: 60%;
}

.profile-photo {
    margin-top: -10px;
    width: 120px;
    height: 120px;
    /* justify-content: center; */
    /* padding: 30px; */
    /* border: 5px solid rgb(255, 255, 255); */
    border-radius: 50%;
}

/*For Small Devices */
@media only screen and (max-width: 992px) {
    .profile-photo {
        margin-top: -10px;
        width: 110px;
        height: 110px;
        /* justify-content: center; */
        /* padding: 30px; */
        /* border: 5px solid rgb(255, 255, 255); */
        border-radius: 50%;
    }

    .right-content h1 {
        margin-top: 55px;
        font-size: 130%;
    }
}

/*For Smaller Devices */
@media only screen and (max-width: 768px) {
    .container-profile {
        flex-direction: column;
        width: 100%;
        margin: 0 20px;
    }

    section {
        min-height: 0;
        margin-bottom: 5%;
        /* max-height: 50vh; */
    }

    .left {
        min-width: 100vw;
        height: 50vh;
        max-height: 200px;
        border-radius: 0;
    }

    .right-content {
        min-width: 92vw;
        height: 40vh;
        max-height: 200px;
        margin: -50px 0 0 0;
    }

    .right-content h1 {
        margin-top: 60px;
        font-size: 130%;
    }

    .right-content p {
        margin: 20px 0;
        font-size: 12px;
        font-weight: 500;
        line-height: 25px;
    }

    .profile {
        margin-top: -75px;
        margin-left: -2%;
        height: 60%;
    }

    .profile-photo {
        margin-top: 0px;
        width: 90px;
        height: 90px;
        /* justify-content: center; */
        /* padding: 30px; */
        /* border: 5px solid rgb(255, 255, 255); */
        border-radius: 50%;
    }
}

/* ========================================================================== */

.profile-summary {
    width: 50%;
    min-height: 300px;
    background-color: #2f3d3c;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border-radius: 8px;
    color: white;
    /* margin-left: -150px; */
}

.profile-cover {
    width: 600px;
    height: 450px;
    object-fit: cover;
    /* background: url(image.jpg) no-repeat center / cover; */
    border-radius: 8px;
}