.top-greeting {
    padding-top: 5%;
}

.top-gambar {
    width: 40px;
    height: 80px;
}

.top-greeting div h6 {
    font-size: large;
    font-weight: 450;
    text-align: start;
    margin-left: 2%;
    align-items: center;
}