* {
    font-family: "Poppins";
}

.login-image {
    width: 70%;
    height: auto;
    margin-top: 6rem;
}

.tulisan-login{
    font-size: 2rem;
    font-family: "Poppins";
    font-weight: 800;
    color: var(--primary-base-color);
    width: 75%;
}

form {
    width: 75%;
}

input {
    margin-top: -5px;
}

label {
    font-weight: 600;
    font-size: 1rem;
}

label, button {
    border-radius: 8px !important;
}

.daftar-button {
    color: var(--primary-accent-color) !important;
    text-decoration: none;
}

.daftar-button:hover {
    cursor: pointer;
    text-decoration: underline;
}

.red{
    color: var(--primary-accent-color);
}

:root {
    --primary-base-color: #3D4058;
    --primary-accent-color: #EF233C;
    --secondary-dark-color: #8D99AE;
    --secondary-light-color: #D9D9D9;
  
    --primary-font: 'Bebas Neue';
    --secondary-font: 'Poppins';
}

.navbar-container, .navbar-container-putu{
    background-color: #F9F9F9;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    position: sticky;
    top: 0;
    z-index: 1002;
}

.navbar-bell{
    width: 5rem;
}

.image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.5rem;
}

.bottombar-icon:hover{
    background-color: var(--secondary-light-color);
    overflow-x: hidden;
}

.bottombar-container, .navbar-container{
    z-index: 1020;
    background-color: var(--secondary-light-color);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.arrow-left {
    margin-left: 20px;
    transform: rotate(180deg);
}

.title {
    font-family: "Poppins";
    font-weight: 800;
    font-size: 1.5rem;
    color: var(--primary-base-color);
}

.bottombar-container-putu, .navbar-container-putu{
    z-index: 1020;
}

.form-register{
    background-color: #F9F9F9;
}
