{% extends 'main/base.html' %}
{% load static %}

{% block meta %}
<!-- ========== Start Eventre Templates Head ========== -->

<!-- SITE TITTLE -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- PLUGINS CSS STYLE -->
<!-- Bootstrap -->
<link href="{% static 'assets-eventre/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<!-- Font Awesome -->
<link href="{% static 'assets-eventre/plugins/font-awsome/css/font-awesome.min.css' %}" rel="stylesheet">
<!-- Magnific Popup -->
<link href="{% static 'assets-eventre/plugins/magnific-popup/magnific-popup.css' %}" rel="stylesheet">
<!-- Slick Carousel -->
<link href="{% static 'assets-eventre/plugins/slick/slick.css' %}" rel="stylesheet">
<link href="{% static 'assets-eventre/plugins/slick/slick-theme.css' %}" rel="stylesheet">
<!-- CUSTOM CSS -->
<link href="{% static 'assets-eventre/css/style.css' %}" rel="stylesheet">

<!-- ========== End Eventre Templates Head ========== -->
{% comment %}
<link rel="stylesheet" href="{% static 'css/profil.css'%}"> {% endcomment %}
<link rel="stylesheet" href="{% static 'css/list-event.css'%}">
{% endblock meta %}

{% block pagename %}List Request Sport Buddies{% endblock pagename %}
{% block activehome %}nav-active{% endblock activehome %}

{% block content %}

<div class="block">
    <div class="row">
        <a class="btn btn-primary mb-2" href="/sport-buddies/">&nbsp List Sport Buddies</a>
        {% for req in list_request %}
       <a href="{% url 'sport_buddies:user-detail' req.buddy_id.user.username %}">
            <div class="card mb-3" style="max-width: 18rem;">
                <div class="card-header">{{req.buddy_id.user.first_name}} {{req.buddy_id.last_name}}</div>
                <div class="card-body">
                <div class="post-thumb">
                    <img src="https://cdn.discordapp.com/attachments/925303244245307432/938676562931372082/blank-profile-picture-973460_1280.png"
                        alt="post-image" class="img-fluid">
                </div>
                <p class="card-text">Username: {{req.buddy_id.user.username}}</p>
                <p class="card-text">Jenis Kelamin: {{req.buddy_id.get_jenis_kelamin_display}}</p>
                <p class="card-text">Level: {{req.buddy_idlevel}}</p>
                </div>
                <a class="btn btn-primary mb-2" href="{% url 'sport_buddies:accept-request' req.buddy_id.user.username %}">&nbsp Accept</a>
                <a class="btn btn-primary mb-2" href="{% url 'sport_buddies:reject-request' req.buddy_id.user.username %}">&nbsp Reject</a>
            </div>
        </a>
        {% endfor %}
    </div>
</div>

{% endblock content %}