{% extends 'main/base.html'%}

{% load static %}

{% comment %}
{% block meta %}
<link rel="stylesheet" href="{% static 'css/profil.css'%}" />
{% endblock meta %}

{% block pagename %}Profil{% endblock pagename %}
{% block activeprofile %}nav-active{% endblock activeprofile %}

{% block content %}

<section>
  <div class="container-profile">
    <div>
      <img src="{% static 'img/image.jpg' %}" class="left" alt="Profile Cover">
    </div>

    <div class="right-content">
      <div class="profile" style="display: flex;">
        {% if foto %}
        <img src="{{foto}}" class="profile-photo" alt="">
        {% else %}
        <img src="{% static 'img/motor2.png' %}" class="profile-photo" alt="">
        {% endif %}
        <h1>{{nama_depan}} {{nama_belakang}}</h1>
      </div>
      <p>@{{username}}</p>
      <a class="btn btn-danger px-4 py-2" href="/profil/edit-profil/">Edit Profil</a>
    </div>

  </div>
</section> {% endcomment %}

<!-- <div class="container-fluid bg-white text-center mb-3 px-0">
  <div class="container-fluid px-0">
    <img src="{% static 'img/motor1.png' %}" class="img-fluid cover-photo" />
  </div>
  {% comment %} <div class="container">
    <div class="profile-cover">
      <img src="{% static 'img/image.jpg' %}" class="profile-cover" alt="Profile Cover">
    </div>
    <div class="container">
      <div class="profile-photo">
        {% if foto %}
        <img src="{{foto}}" id="display-picture" class="view-profile-img" />
        {% else %}
        <img src="{% static 'img/motor2.png' %}" id="display-picture" class="view-profile-img" />
        {% endif %}
      </div>
      <div class="profile-summary">
        <h2>{{nama_depan}} {{nama_belakang}}</h2>
        <h6>@{{username}}</h6>
        <a class="btn btn-danger mt-3 btn-edit-profile" style="background-color: #EF233C !important; width: 120px;"
          href="/profil/edit-profil/">Edit Profil</a>
      </div>
    </div>
  </div> {% endcomment %}
  <p class="heading2 mt-4">{{nama_depan}} {{nama_belakang}}</p>
  <p class="h6">@{{username}}</p>
  <a class="btn btn-danger mt-3 btn-edit-profile" style="background-color: #EF233C !important; width: 120px;"
    href="/profil/edit-profil/">Edit Profil</a>
</div> -->

<!-- 3 Nav Profil -->
{% comment %} <nav class="">
  <div class="nav nav-tabs d-flex justify-content-center" id="nav-tab" role="tablist">
    <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button"
      role="tab" aria-controls="nav-home" aria-selected="true">Olahraga</button>
    <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button"
      role="tab" aria-controls="nav-profile" aria-selected="false">Aktivitas</button>
    <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button"
      role="tab" aria-controls="nav-contact" aria-selected="false">Info</button>
  </div>
</nav>
<div class="tab-content p-3 mb-5" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">{% include
    'profil/profil-sport.html' %}</div>
  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">{% include
    'profil/profil-activities.html' %}</div>
  <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">{% include
    'profil/profil-about.html' %}</div>
</div>

{% endblock content %} {% endcomment %}

<!-- ============================================================================================ -->

{% block meta %}
<!-- ========== Start Eventre Templates Head ========== -->

<!-- SITE TITTLE -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- PLUGINS CSS STYLE -->
<!-- Bootstrap -->
<link href="{% static 'assets-eventre/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<!-- Font Awesome -->
<link href="{% static 'assets-eventre/plugins/font-awsome/css/font-awesome.min.css' %}" rel="stylesheet">
<!-- Magnific Popup -->
<link href="{% static 'assets-eventre/plugins/magnific-popup/magnific-popup.css' %}" rel="stylesheet">
<!-- Slick Carousel -->
<link href="{% static 'assets-eventre/plugins/slick/slick.css' %}" rel="stylesheet">
<link href="{% static 'assets-eventre/plugins/slick/slick-theme.css' %}" rel="stylesheet">
<!-- CUSTOM CSS -->
<link href="{% static 'assets-eventre/css/style.css' %}" rel="stylesheet">

<!-- ========== End Eventre Templates Head ========== -->
{% comment %}
<link rel="stylesheet" href="{% static 'css/profil.css'%}" /> {% endcomment %}
{% endblock meta %}

{% block pagename %}Profil Buddy{% endblock pagename %}
{% block activeprofile %}nav-active{% endblock activeprofile %}

{% block content %}
<section class="section single-speaker">
  <div class="container">
    <div class="block pb-5">
      <div class="row">
        <div class="col-lg-5 col-md-6 align-self-md-center">
          <div class="image-block">
            {% if foto %}
            <img src="{{foto}}" class="img-fluid" alt="Profile photo">
            {% else %}
            <img src="{% static 'img/motor2.png' %}" class="img-fluid" alt="Profile photo">
            {% endif %}
          </div>
        </div>
        <div class="col-lg-7 col-md-6 align-self-center">
          <div class="content-block">
            <div class="name ms-3">
              <h3>{{nama_depan}} {{nama_belakang}}</h3>
            </div>
            <div class="profession ms-3">
              <p>@{{username}}</p>
            </div>
            <div class="details">
              <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusm tempor incididunt ut labore
                dolore magna aliqua enim ad minim veniam quis nostrud.laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse.
                Duis aute irure dolor in reprehenderit in voluptate velit esse.
                <br>
              </p>
              <p>
                Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
                dolores eos qui ratione voluptatem sequi nesciunt.
                <br>
                Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur
              </p> -->
            </div>
            <div class="text-center pe-3">
              {% comment %} <button class="btn btn-primary mb-2" type="button"><i class="fas fa-user-plus"></i> Add</button>
              <button class="btn btn-primary mb-2" type="button"><i class="far fa-comment-dots"></i> Chat</button> {% endcomment %}
              <a class="btn btn-primary mb-2" href="{% url 'sport_buddies:add-buddies' username %}">&nbsp Add Buddies</a>
            </div>
            <div class="social-profiles d-flex justify-content-start">
              <div class="pe-3 col-7">
                <h5 class="mb-3">Top Sports</h5>
                <ul class="list-inline social-list">
                  <li class="list-inline-item">
                    <a href="#"><i class="far fa-futbol"></i></a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#"><i class="fas fa-shuttlecock"></i></a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#"><i class="fas fa-volleyball-ball"></i></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="social-profiles d-flex justify-content-start mt-4 ms-3">
              <div class="pe-4">
                <h6>Aktivitas</h6>
                72
              </div>
              <div class="pe-4">
                <h6>Poin</h6>
                205
              </div>
              <div class="pe-4">
                <h6>Buddies</h6>
                150
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="block-2 pt-4">
      <div class="row">
        <div class="col-md-12">
          <div class="personal-info">
            <nav class="">
              <div class="nav nav-tabs d-flex justify-content-center" id="nav-tab" role="tablist">
                <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button"
                  role="tab" aria-controls="nav-home" aria-selected="true">Olahraga</button>
                <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button"
                  role="tab" aria-controls="nav-profile" aria-selected="false">Info</button>
                <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button"
                  role="tab" aria-controls="nav-contact" aria-selected="false">Pencapaian</button>
              </div>
            </nav>
            <div class="tab-content p-3 mb-5" id="nav-tabContent">
              <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">{% include 'profil/profil-sport.html' %}</div>
              <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">{% include 'profil/profil-about.html' %}</div>
              <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">{% include 'profil/profil-achievement.html' %}</div>
            </div>
            {% comment %} <h5>Personal Information</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi explicabo suscipit deleniti
              voluptatum quos nostrum iure doloremque cupiditate voluptatem a enim eaque quod perspiciatis repudiandae,
              mollitia adipisci ea, quidem eveniet consequatur veniam error. Adipisci, suscipit corporis repellat,
              soluta vitae deserunt perspiciatis labore reprehenderit sapiente provident vel maxime.</p>
            <ul class="m-0 p-0">
              <li>Morbi fermentum felis nec</li>
              <li>Fermentum felis nec gravida tempus.</li>
              <li>Morbi fermentum felis nec</li>
              <li>Fermentum felis nec gravida tempus.</li>
              <li>Morbi fermentum felis nec</li>
            </ul> {% endcomment %}
          </div>
        </div>
        {% comment %} <div class="col-md-6">
          <div class="skills">
            <h5>Personal Skills</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis repellat inventore at praesentium
              perspiciatis labore reprehenderit sapiente provident vel maxime.</p>
            <div class="skill-bars">
              <!-- SkillBar -->
              <div class="skill-bar">
                <!-- Title -->
                <p>Wordpress</p>
                <!-- Progress Bar -->
                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: 90%;"><span>90%</span></div>
                </div>
              </div>
              <!-- SkillBar -->
              <div class="skill-bar">
                <!-- Title -->
                <p>PHP</p>
                <!-- Progress Bar -->
                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: 75%;">
                    <span>75%</span>
                  </div>
                </div>
              </div>
              <!-- SkillBar -->
              <div class="skill-bar">
                <!-- Title -->
                <p>Javascript</p>
                <!-- Progress Bar -->
                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: 60%;">
                    <span>60%</span>
                  </div>
                </div>
              </div>
              <!-- SkillBar -->
              <div class="skill-bar">
                <!-- Title -->
                <p>HTML</p>
                <!-- Progress Bar -->
                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: 80%;">
                    <span>80%</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> {% endcomment %}
      </div>
    </div>
  </div>
</section>
{% endblock content %}