{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Bootstrap CDN -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <!-- Font Awesome CDN -->
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

  <!-- Remix Icon CDN -->
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

  <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.png' %}" />

  <!-- Font Poppins -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

  <!-- Styling for specific pages -->
  {% block meta %}
  {% endblock meta %}

  <!-- Main style for parent page -->
  <link rel="stylesheet" href="{% static 'css/mainstyle.css' %}">

  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>

  <title>Sporteev</title>
</head>

<body>

  <!-- Header -->
  <header class="p-3 text-white sticky-top">
    <div class="container-fluid">
      <div class="d-flex justify-content-between" style="align-items: center;">
        <div class="col-1 d-flex justify-content-center">
          <a href="#" class="menu-bars" id="show-menu-left">
            <i class="fas fa-bars icon-header"></i>
          </a>
        </div>
        <nav id="nav-menu-left">
          <ul class="px-3 pt-0 nav-menu-items">
            <div class="py-4 navbar-toggle">
              <a href="#" class="menu-bars" id="hide-menu-left">
                <i class="fas fa-bars nav-icon"></i>
              </a>
              <p> Menu</p>
            </div>
            <hr />
            <div class="nav-section my-3">
              <li class="nav-text"><a href="{% url 'profil:profil' %}"><i class="far fa-user-circle nav-icon"></i>Akun</a></li>
              <li class="nav-text"><a href="{% url 'sport_buddies:list_buddies' %}"><i class="fas fa-user-plus nav-icon"></i>Sport Buddies</a></li>
              <li class="nav-text"><a href="{% url 'sport_buddies:leaderboard' %}"><i class="fas fa-trophy nav-icon"></i>Leaderboard</a></li>
              <li class="nav-text"><a href="{% url 'sportwiki:home-sportwiki' %}"><i class="fas fa-book-open nav-icon"></i>SportWiki</a></li>
              <li class="nav-text"><a href="{% url 'main:logout' %}"><i class="fas fa-sign-out-alt nav-icon"></i>Log out</a></li>
            </div>
            <hr />
            <div class="nav-section my-1">
              <li class="nav-text"><a href="{% url 'main:bantuan' %}"><i class="fas fa-question nav-icon"></i>Bantuan</a></li>
              <li class="nav-text"><a href="{% url 'main:pengaturan' %}"><i class="fas fa-cog nav-icon"></i>Pengaturan</a></li>
              <li class="nav-text"><a href="{% url 'main:about' %}"><i class="far fa-exclamation-circle nav-icon"></i>Tentang Sporteev</a></li>
            </div>
          </ul>
        </nav>
        <div class="col-6 d-flex justify-content-center">
          {% block pagename %}{% endblock pagename %}
        </div>
        <div class="col-1 d-flex justify-content-center">
          <a href="#" class="menu-bars" id="show-menu-right">
            <i class="far fa-bell icon-header"></i>
          </a>
        </div>
        <nav id="nav-menu-right">
          <ul class="px-3 pt-0 nav-menu-items">
            <div class="p-4 navbar-toggle right">
              <p>Notifikasi </p>
              <a href="#" class="menu-bars" id="hide-menu-right">
                <i class="far fa-bell nav-icon right"></i>
              </a>
            </div>
            <hr />
            <div class="nav-section my-1">
              <li class="nav-text"><a href="#">Ini contoh</a></li>
              <li class="nav-text"><a href="#">Ini juga contoh</a></li>
              <li class="nav-text"><a href="#">Sama, ini contoh juga</a></li>
            </div>
          </ul>
        </nav>
      </div>
    </div>
  </header>

  <div id="hide-menu">
    {% block content %}
    {% endblock content %}
  </div>

  <!-- Navbar -->
  <footer class="footer mt-auto bg-light">
    <nav class="navbar navbar-expand-md navbar-dark fixed-bottom bg-light app-footer">
      <div class="container-fluid d-flex flex-row justify-content-around text-black font-footer text-center">
        <a class="navi-text" href="/sportivity">
          <div class="px-2 bd-highlight {% block activehome %}{% endblock activehome %}">
            <i class="ri-home-line icon-footer"><br></i>
            Home
          </div>
        </a>
        <a class="navi-text" href="/sport-venue/list-venue">
          <div class="px-2 py-1 bd-highlight {% block activevenue %}{% endblock activevenue %}">
            <i class="ri-map-pin-5-line icon-footer"><br></i>
            Venue
          </div>
        </a>
        <a class="navi-text" href="/sportivity/buat-event-jenis">
          <div class="px-2 bd-highlight {% block activebuat %}{% endblock activebuat %}">
            <i class="ri-add-circle-line icon-footer" style="font-size: 25px"><br></i>
            Buat
          </div>
        </a>
        <a class="navi-text" href="{% url 'sportivity:log-aktivitas' %}">
          <div class="px-1 bd-highlight {% block activelog %}{% endblock activelog %}">
            <i class="ri-history-line icon-footer"><br></i>
            Aktivitas
          </div>
        </a>
        <a class="navi-text" href="/profil">
          <div class="px-2 bd-highlight {% block activeprofile %}{% endblock activeprofile %}">
            <i class="ri-user-line icon-footer"><br></i>
            Profil
          </div>
        </a>
      </div>
    </nav>
  </footer>

  <!-- Fake Navbar -->
  <nav class="navbar-dark bg-white sticky-bottom" style="box-shadow: unset;"></nav>

  <script src="{% static 'js/base.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</body>

</html>