{% extends 'main/base.html' %}
{% load static %}

{% block meta %}
<!-- ========== Start Eventre Templates Head ========== -->

<!-- SITE TITTLE -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- PLUGINS CSS STYLE -->
<!-- Bootstrap -->
<link href="{% static 'assets-eventre/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<!-- Font Awesome -->
<link href="{% static 'assets-eventre/plugins/font-awsome/css/font-awesome.min.css' %}" rel="stylesheet">
<!-- Magnific Popup -->
<link href="{% static 'assets-eventre/plugins/magnific-popup/magnific-popup.css' %}" rel="stylesheet">
<!-- Slick Carousel -->
<link href="{% static 'assets-eventre/plugins/slick/slick.css' %}" rel="stylesheet">
<link href="{% static 'assets-eventre/plugins/slick/slick-theme.css' %}" rel="stylesheet">
<!-- CUSTOM CSS -->
<link href="{% static 'assets-eventre/css/style.css' %}" rel="stylesheet">

<!-- ========== End Eventre Templates Head ========== -->

{% endblock meta %}

{% block pagename %}Login{% endblock pagename %}
{% comment %} {% block activehome %}nav-active{% endblock activehome %} {% endcomment %}

{% block content %}

<section class="section contact-form py-5 my-0">
    <div class="container col-sm-8 col-md-6 col-lg-4">
        <div class="row">
            <div class="col-12 text-center login">
                <img src="{% static 'img/logo1.png' %}" alt="logo">
                <div class="section-title">
                    <h3 style="font-size: 180%; margin-bottom: 3%;">Login</span></h3>
                    <p>to continue to Sporteev</p>
                </div>
            </div>
        </div>
        <form id="frm" method="POST" action="/" class="row">
            {% csrf_token %}
            <div class="col-md-12">
                <input required type="text" class="form-control main" name="username" id="username"
                    placeholder="Username">
            </div>
            <div class="col-md-12">
                <input type="password" class="form-control main" name="password" id="password" placeholder="Password">
            </div>
            <div class="col-sm-6 px-0 mb-4 belum-daftar" style="font-size: small;">
                <p class="col-10 col-lg-12">Belum punya akun?</p>
                <a href="/register" style="text-decoration: none;"><h6 class="col-10 col-lg-12 signup-btn" style="font-size: medium;">Sign up</h6></a>
            </div>
            <div class="col-12 col-sm-6 text-center belum-daftar2">
                <button type="submit" class="btn btn-main-md my-0">Login</button>
                <div class="error-message w-100 mt-2">
                    <p style="color:red">{{error}}</p>
                </div>
            </div>
        </form>
    </div>
</section>

{% comment %} <div class="container d-flex flex-column align-items-center justify-content-center">
    <img class="login-image" src="">
    <div class="tulisan-login mt-5">
        Login
    </div>
    <form id="frm" method="POST" action="/">
        {% csrf_token %}
        <div class="mb-3 mt-4">
            <label for="username" class="form-label">Username</label>
            <input required name="username" type="text" class="form-control" id="username">
        </div>
        <div class="mb-3 mt-2">
            <label for="password" class="form-label">Password</label>
            <input required name="password" type="password" class="form-control" id="password">
        </div>
        <button id="submit" type="submit" class="btn btn-success w-100 mt-4" value="submit">Login</button>
        <div class="error-message w-100 mt-2">
            <p style="color:red">{{error}}</p>
        </div>
    </form>
    <div style="width:75%; text-align:center;" class="mt-5 mb-5">
        <span>Belum mempunya akun?</span> <a href="/register" class="daftar-button">Daftar sekarang!</a>
    </div>
</div> {% endcomment %}
{% comment %}
<script src="{% static 'js/login.js'%}"></script> {% endcomment %}
{% endblock content %}