{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/mainstyle.css' %}">
  <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"> -->
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>

  <title>Sporteev</title>
  {% block meta %}
  {% endblock meta %}

</head>

<body>
  <div id="splash">
    <img src="{% static 'img/sporteev-logo.png' %}" alt="" class="logo">
  </div>

  <div class="content">
    <header class="app-header">
      <div class="container">
        <img src="{% static 'img/sporteev-logo-cropped.png' %}" alt="" class="logo">
        <input type="text" class="search" placeholder="Cari...">
      </div>
    </header>

    <div class="subheader">
      <div>
        <p>Halo! <br>
          Olahraga apa hari ini? <i class="fas fa-angle-right"></i></p>
      </div>
      <div>
        <img src="{% static 'img/venue.png' %}" alt="" class="">
      </div>
    </div>

    <div class="grid container">
      <div class="item">
        <h4>Sportivity</h4>
        <p>Find Sport buddies</p>
        <img src="{% static 'img/user.png' %}" alt="">
      </div>
      <div class="item">
        <h4>Sportivity</h4>
        <p>Find Sport buddies</p>
        <img src="{% static 'img/user.png' %}" alt="">
      </div>
      <div class="item">
        <h4>Sportivity</h4>
        <p>Find Sport buddies</p>
        <img src="{% static 'img/user.png' %}" alt="">
      </div>
      <div class="item">
        <h4>Sportivity</h4>
        <p>Find Sport buddies</p>
        <img src="{% static 'img/user.png' %}" alt="">
      </div>
      <div class="item">
        <h4>Sportivity</h4>
        <p>Find Sport buddies</p>
        <img src="{% static 'img/user.png' %}" alt="">
      </div>
      <div class="item">
        <h4>Sportivity</h4>
        <p>Find Sport buddies</p>
        <img src="{% static 'img/user.png' %}" alt="">
      </div>
    </div>
  </div>

  <footer class="app-footer">
    <ul>
      <li>
        <i class="fas fa-baseball-ball"></i>
        Home
      </li>
      <li>
        <i class="fas fa-baseball-ball"></i>
        Home
      </li>
      <li>
        <i class="fas fa-baseball-ball"></i>
        Home
      </li>
      <li>
        <i class="fas fa-baseball-ball"></i>
        Home
      </li>
      <li>
        <i class="fas fa-baseball-ball"></i>
        Home
      </li>
    </ul>
  </footer>

  <script>
    setTimeout(() => {
      document.getElementById('splash').classList.add('fade');
    }, 2000);
  </script>

</body>

</html>