* {
    font-family: "Poppins";
}

.login-image {
    width: 70%;
    height: auto;
    margin-top: 6rem;
}

.tulisan-login{
    font-size: 2rem;
    font-family: "Poppins";
    font-weight: 800;
    color: black;
    width: 75%;
}

form {
    width: 75%;
}

input {
    margin-top: -5px;
}

label {
    font-weight: 600;
    font-size: 1rem;
}

label, button {
    border-radius: 8px !important;
}

.daftar-button {
    color: red !important;
    text-decoration: none;
}

.daftar-button:hover {
    cursor: pointer;
    text-decoration: underline;
}

.red{
    color: red;
}