    /* Project-wide style */

    /* @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

    :root {
      --primary-base-color: #3D4058;
      --primary-accent-color: #00cce7;
      --secondary-dark-color: #8D99AE;
      --secondary-light-color: #D9D9D9;

      --primary-font: 'Bebas Neue';
      --secondary-font: 'Poppins';
    }

    html {
      height: 100%;
    }


    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      font-family: 'Rubik', sans-serif !important;
      background-color: #5a5a5a !important;
      display: flex;
      justify-content: center;
    }

    .content-container {
      width: min(450px, 100%);
      background-color: #F9F9F9;
      height: 100%;
      min-height: 100vh;
      position: relative;
    }

    .content-putu-container {
      width: min(450px, 100%);
      background-color: #F9F9F9;
      height: 100%;
    } */

/* ========================================================================== */

/* :root {
  --primary-base-color: #3D4058;
  --primary-accent-color: #00cce7;
  --secondary-dark-color: #8D99AE;
  --secondary-light-color: #D9D9D9;

  --primary-font: 'Bebas Neue';
  --secondary-font: 'Poppins';
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Poppins', sans-serif !important;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

.container {
  width: 90%;
  margin: 0 auto;
  padding: 10px;
  overflow: none;
}

.app-header {
  background-color: var(--primary-base-color);
  box-shadow: 3px 3px 10px #888;
}

.app-header .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px 10px;
}

.app-header .logo {
  width: 170px;
  margin-bottom: 16px;
}

.app-header input[type='text'] {
  padding: 7px;
  width: 300px;
  border: 0;
  border-radius: 3px;
}

.subheader {
  background-color: var(--secondary-light-color);
  color: rgb(49, 49, 49);
  box-shadow: 3px 3px 10px #888;
  margin: 0 auto 16px auto;
  width: 90%;
  font-size: 14px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.subheader p {
  margin: 4px;
}

.subheader img {
  width: 40px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.grid .item {
  display: flex;
  flex-direction: column;
  border: 1px #ccc solid;
  padding: 10px;
  box-shadow: 1px 1px 2px #ccc;
}

.grid .item h4 {
  margin-bottom: 5px;
}

.grid .item p {
  font-size: 14px;
  color: var(--primary-base-color);
  font-weight: bold;
  margin-bottom: 20px;
}

.grid .item img {
  width: 30px;
  align-self: flex-end;
}

.app-footer {
  flex-shrink: 0;
  background-color: #8D99AE;
  color: #444;
  padding: 10px;
  font-size: 14px;
  margin-top: 10px;
}

.app-footer ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
}

.app-footer ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-footer ul li i {
  font-size: 22px;
} */

/* Splash */
/* #splash {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--primary-base-color);
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: opacity 1s;
}

#splash img {
  width: 300px;
}

#splash.fade {
  opacity: 0;
}

@media(min-width: 768px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .grid .item img {
    width: 60px;
  }
} */

/* ========================================================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

p, a, li {
  font-size: unset;
  line-height: unset;
}

a:focus, a:hover {
  color: #00DEFF;
  text-decoration: none;
}

/* =================== Side Bars =================== */

hr {
  background-color: #464646;
  height: 1px;
  border: none;
  margin: 0;
}

#navbar {
  background-color: #212121;
  height: 100px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.menu-bars {
  color: #fff;
}

#nav-menu-left {
  background-color: #212121;
  width: 260px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
  z-index: 1;
  overflow-y: auto;
}

#nav-menu-left.active {
  left: 0;
  transition: 550ms;
}

#nav-menu-right {
  background-color: #212121;
  width: 260px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  right: -100%;
  transition: 850ms;
  z-index: 1;
  overflow-y: auto;
}

#nav-menu-right.active {
  right: 0;
  transition: 550ms;
}

#hide-menu {
  min-height: 100vh;
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  list-style: none;
  height: 50px;
  padding: 1rem;
}

.nav-text a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 1rem;
  margin-left: 1rem;
}

.nav-text:hover {
  background-color: rgba(144, 144, 144, 0.219);
  cursor: pointer;
}

.nav-menu-items {
  width: 100%;
}

.nav-icon {
  padding-right: 1rem;
  color: #909090;
  font-size: 19px;
}

.nav-icon.right {
  padding-right: 0;
  padding-left: 1rem;
}

#youtube-logo {
  color: #f90201;
  padding-right: 0.2rem;
}

.navbar-toggle {
  background-color: #212121;
  width: 100%;
  display: flex;
  justify-content: start;
}

.navbar-toggle i {
  color: #00BEDA;
}

.navbar-toggle.right {
  justify-content: end;
}

.navbar-toggle p {
  color: #fff;
  margin: 0;
}

.navbar-toggle a {
  text-decoration: none;
}

.fa-bars {
  color: #fff;
}

.nav-section {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* =================== Navbar Footer =================== */

header {
  background-color: #00BEDA;
}

.font-footer {
  font-size: 12px;
  line-height: 130%;
}

.icon-footer {
  font-size: 20px;
}

.icon-header {
  font-size: 19px;
}

.app-footer {
  border-radius: 20px 20px 0px 0px;
  box-shadow: 0 -4px 8px 0 rgba(121, 121, 121, 0.2), 0 1px 35px 0 rgba(126, 126, 126, 0.19);
}

.nav-active {
  color: #00BEDA;
}

.navi-text {
  text-decoration: none;
  color: black;
}


