{% extends 'main/base.html' %}
{% load static %}

{% block meta %}
<!-- ========== Start Eventre Templates Head ========== -->

<!-- SITE TITTLE -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- PLUGINS CSS STYLE -->
<!-- Bootstrap -->
<link href="{% static 'assets-eventre/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<!-- Font Awesome -->
<link href="{% static 'assets-eventre/plugins/font-awsome/css/font-awesome.min.css' %}" rel="stylesheet">
<!-- Magnific Popup -->
<link href="{% static 'assets-eventre/plugins/magnific-popup/magnific-popup.css' %}" rel="stylesheet">
<!-- Slick Carousel -->
<link href="{% static 'assets-eventre/plugins/slick/slick.css' %}" rel="stylesheet">
<link href="{% static 'assets-eventre/plugins/slick/slick-theme.css' %}" rel="stylesheet">
<!-- CUSTOM CSS -->
<link href="{% static 'assets-eventre/css/style.css' %}" rel="stylesheet">

<!-- ========== End Eventre Templates Head ========== -->
{% comment %}
<link rel="stylesheet" href="{% static 'css/profil.css'%}"> {% endcomment %}
{% comment %}
<link rel="stylesheet" href="{% static 'css/list-event.css'%}"> {% endcomment %}
{% endblock meta %}

{% block pagename %}Buat Aktivitas{% endblock pagename %}
{% block activebuat %}nav-active{% endblock activebuat %}
  
{% block content %}

<section class="registration">
  <div class="container-fuild p-0">
    <div class="row">
      <div class="col-lg-12 col-md-12 p-0">
        <div class="registration-block bg-registration overlay-dark py-5 mb-5">
          <div class="block">
            <div class="title text-left">
              <h3>Informasi <span class="alternate">Detail</span></h3>
              <p>aktivitas olahraga</p>
            </div>
            <form method="POST" action="{% url 'sportivity:buat-event-details' %}" class="row">
              {% csrf_token %}
              <div class="col-md-6">
                <label for="min_participant" class="form-label">Minimum Pemain</label>
                <input required name="min_participant" type="number" id="min_participant" class="form-control main border-white placeholder-white" placeholder="Jumlah pemain minimum">
              </div>
              <div class="col-md-6">
                <label for="max_participant" class="form-label">Maksimum Pemain</label>
                <input required name="max_participant" type="number" id="max_participant" class="form-control main border-white placeholder-white" placeholder="Jumlah pemain maksimum">
              </div>
              <div class="col-md-6">
                <label for="harga" class="form-label">Estimasi Biaya</label>
                <input required name="harga" type="number" id="harga" class="form-control main border-white placeholder-white" placeholder="Perkiraan biaya per pemain">
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="level" class="form-label">Level Pemain</label>
                  <select required name="level" class="form-control main border-white placeholder-white" id="select-ticket">
                    <option value="0" style="color: #000;">All level</option>
                    <option value="1" style="color: #000;">Rookie</option>
                    <option value="2" style="color: #000;">Beginner</option>
                    <option value="3" style="color: #000;">Intermediate</option>
                    <option value="4" style="color: #000;">Advanced</option>
                    <option value="5" style="color: #000;">Expert</option>
                  </select>
                </div>
              </div>
              <div class="col-md-3 mb-4">
                <input type="checkbox" name="is_ranked" value=True>
                <label for="is_ranked">Ranked Game</label><br>
              </div>
              <div class="col-md-3 mb-4">
                <input type="checkbox" name="is_private" value=True>
                <label for="is_private">Private Game</label><br>
              </div> 
              <div class="col-12">
                <button type="submit" class="btn btn-white-md">Selanjutnya</button>
              </div>
              <div class="col-12">
                <input type="button" value="Kembali" class="btn btn-danger mt-3" style="text-transform: none;" onClick="javascript:history.go(-1);">
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<br>

{% comment %} <div class="container d-flex flex-column align-items-center justify-content-center form-re">
    <div class="tulisan-login mt-4 mb-3">
        General
    </div>
    <form method="POST" action="{% url 'sportivity:buat-event-details' %}">
      {% csrf_token %}
          <div class="mb-3 mt-4"> 
            <label for="min_participant" class="form-label">Min Player</label>
            <input required name="min_participant" type="number" class="form-control" id="min_participant">
          </div>
          <div class="mb-3 mt-4"> 
            <label for="max_participant" class="form-label">Max Player</label>
            <input required name="max_participant" type="number" class="form-control" id="max_participant">
          </div>
          <div class="mb-3 mt-2">
            <label for="harga" class="form-label">Harga</label>
            <input required name="harga" type="number" class="form-control" id="harga">
          </div>
          <div class="mb-3 mt-2">
            <label for="level" class="form-label"></label>
            <select required class="form-select" name="level">
              <option value="0">All Level</option>
              <option value="1">Rookie</option>
              <option value="2">Beginner</option>
              <option value="3">Intermediete</option>
              <option value="4">Advanced</option>
              <option value="5">Expert</option>
            </select>
          </div>
          <div class="mb-3 mt-2">
            <input type="checkbox" name="is_ranked" value=True>
            <label for="is_ranked">Ranked Game</label><br>
          </div>
          <div class="mb-3 mt-2">
            <input type="checkbox" name="is_private" value=True>
            <label for="is_private">Private Game</label><br>
          </div> 
          <button id="button-submit" type="submit" class="btn btn-success w-100 mt-4" value="submit">Next</button>
          <input type=button value="Previous Page" class="btn btn-danger w-100 mt-4" onClick="javascript:history.go(-1);">
    </form>
    
</div> {% endcomment %}

{% comment %} <script src="{%static 'js/register.js'%}"></script> {% endcomment %}
{% endblock content %} 