{% extends 'main/base.html' %}
{% load static %}

{% block meta %}
<!-- ========== Start Eventre Templates Head ========== -->

<!-- SITE TITTLE -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- PLUGINS CSS STYLE -->
<!-- Bootstrap -->
<link href="{% static 'assets-eventre/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<!-- Font Awesome -->
<link href="{% static 'assets-eventre/plugins/font-awsome/css/font-awesome.min.css' %}" rel="stylesheet">
<!-- Magnific Popup -->
<link href="{% static 'assets-eventre/plugins/magnific-popup/magnific-popup.css' %}" rel="stylesheet">
<!-- Slick Carousel -->
<link href="{% static 'assets-eventre/plugins/slick/slick.css' %}" rel="stylesheet">
<link href="{% static 'assets-eventre/plugins/slick/slick-theme.css' %}" rel="stylesheet">
<!-- CUSTOM CSS -->
<link href="{% static 'assets-eventre/css/style.css' %}" rel="stylesheet">

<!-- ========== End Eventre Templates Head ========== -->
{% comment %}
<link rel="stylesheet" href="{% static 'css/profil.css'%}"> {% endcomment %}
{% comment %}
<link rel="stylesheet" href="{% static 'css/list-event.css'%}"> {% endcomment %}
{% endblock meta %}

{% block pagename %}Buat Aktivitas{% endblock pagename %}
{% block activebuat %}nav-active{% endblock activebuat %}

{% block content %}

<section class="registration">
  <div class="container-fuild p-0">
    <div class="row">
      <div class="col-lg-12 col-md-12 p-0">
        <div class="registration-block bg-registration overlay-dark py-5 mb-5">
          <div class="block">
            <div class="title text-left">
              <h3>Informasi <span class="alternate">General</span></h3>
              <p>aktivitas olahraga</p>
            </div>
            <form method="POST" action="{% url 'sportivity:buat-event-general' %}" class="row">
              {% csrf_token %}
              <div class="col-md-6">
                <label for="nama_event" class="form-label">Nama Aktivitas</label>
                <input required name="nama_event" type="text" class="form-control main border-white placeholder-white" placeholder="Nama Aktivitas" id="nama_event">
              </div>
              {% comment %} <div class="col-md-6">
                <label for="nama_event" class="form-label">Foto</label>
                <input type="file" id="imageFileInput" class="input-picture" accept="image/png, image/jpeg" name="myfile">
              </div> {% endcomment %}
              <div class="col-md-6">
                <label for="deskripsi" class="form-label">Deskripsi (opsional)</label>
                <input name="deskripsi" type="textarea" class="form-control main border-white placeholder-white" placeholder="Deskripsi" id="deskripsi">
              </div>
              <div class="col-md-6">
                <label for="venue" class="form-label">Tempat</label>
                <input required name="venue" type="text" class="form-control main border-white placeholder-white" placeholder="Tempat" id="venue">
              </div>
              <div class="col-md-6">
                <label for="tanggal" class="form-label">Tanggal</label>
                <input required name="tanggal" type="date" class="form-control main border-white placeholder-white" placeholder="Tanggal" id="tanggal">
              </div>
              <div class="col-md-6">
                <label for="waktu_start" class="form-label">Waktu mulai</label>
                <input required name="waktu_start" type="time" class="form-control main border-white placeholder-white" placeholder="Waktu Mulai" id="waktu_start">
              </div>
              <div class="col-md-6">
                <label for="waktu_end" class="form-label">Waktu selesai</label>
                <input required name="waktu_end" type="time" class="form-control main border-white placeholder-white" placeholder="Waktu Selesai" id="waktu_end">
              </div>
              <div class="col-md-6">
                <label for="alamat" class="form-label">Alamat (opsional)</label>
                <input name="alamat" type="text" class="form-control main border-white placeholder-white" placeholder="Alamat" id="alamat">
              </div>
              {% comment %} <div class="col-md-6">
                <div class="form-group">
                  <select class="form-control main" id="select-ticket">
                    <option>Ticket Type</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
              </div> {% endcomment %}
              <div class="col-12">
                <button type="submit" class="btn btn-white-md">Selanjutnya</button>
              </div>
            </form>
            <form method="POST" action="{% url 'sportivity:delete-event' %}">
              {% csrf_token %}
              <div class="col-12 mt-3">
                <button id="button-submit" type="submit" class="btn btn-danger" value="submit">Batal</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<br>

{% comment %} <div class="container d-flex flex-column align-items-center justify-content-center form-re">
  <div class="tulisan-login mt-4 mb-3">
    General
  </div>
  <form method="POST" action="{% url 'sportivity:buat-event-general' %}">
    {% csrf_token %}
    <div class="mb-3 mt-4">
      <label for="nama_event" class="form-label">Nama Aktivitas</label>
      <input required name="nama_event" type="text" class="form-control" id="nama_event">
    </div>
    <div class="mb-3 mt-4">
      <label for="deskripsi" class="form-label">Deskripsi</label>
      <input required name="deskripsi" type="textarea" class="form-control" id="deskripsi">
    </div>
    <div class="mb-3 mt-2">
      <label for="tanggal" class="form-label">Tanggal</label>
      <input required name="tanggal" type="date" class="form-control" id="tanggal">
    </div>
    <div class="mb-3 mt-2">
      <label for="waktu_start" class="form-label">Start</label>
      <input required name="waktu_start" type="time" class="form-control" id="waktu_start">
    </div>
    <div class="mb-3 mt-2">
      <label for="waktu_end" class="form-label">End</label>
      <input required name="waktu_end" type="time" class="form-control" id="waktu_end">
    </div>
    <div class="mb-3 mt-2">
      <label for="venue" class="form-label">Venue</label>
      <input required name="venue" type="text" class="form-control" id="venue">
    </div>
    <div class="mb-3 mt-2">
      <label for="alamat" class="form-label">Alamat</label>
      <input required name="alamat" type="text" class="form-control" id="alamat">
    </div>
    <button id="button-submit" type="submit" class="btn btn-success w-100 mt-4" value="submit">Next</button>
  </form>
  <form method="POST" action="{% url 'sportivity:delete-event' %}">
    {% csrf_token %}
    <button id="button-submit" type="submit" class="btn btn-danger w-100 mt-4 px-auto mx-auto"
      value="submit">Cancel</button>
  </form>
  <br><br><br><br><br>
</div> {% endcomment %}

{% comment %}
<script src="{%static 'js/register.js'%}"></script> {% endcomment %}



{% endblock content %}