{% extends 'main/base.html' %}
{% load static %}

{% block meta %}
<!-- ========== Start Eventre Templates Head ========== -->

<!-- SITE TITTLE -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- PLUGINS CSS STYLE -->
<!-- Bootstrap -->
<!-- <link href="{% static 'assets-eventre/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet"> -->
<!-- Font Awesome -->
<link href="{% static 'assets-eventre/plugins/font-awsome/css/font-awesome.min.css' %}" rel="stylesheet">
<!-- Magnific Popup -->
<link href="{% static 'assets-eventre/plugins/magnific-popup/magnific-popup.css' %}" rel="stylesheet">
<!-- Slick Carousel -->
<link href="{% static 'assets-eventre/plugins/slick/slick.css' %}" rel="stylesheet">
<link href="{% static 'assets-eventre/plugins/slick/slick-theme.css' %}" rel="stylesheet">
<!-- CUSTOM CSS -->
<link href="{% static 'assets-eventre/css/style.css' %}" rel="stylesheet">

<!-- ========== End Eventre Templates Head ========== -->
{% comment %}
<link rel="stylesheet" href="{% static 'css/profil.css'%}"> {% endcomment %}
<link rel="stylesheet" href="{% static 'css/list-event.css'%}">
{% endblock meta %}

{% block pagename %}Buat Aktivitas{% endblock pagename %}
{% block activebuat %}nav-active{% endblock activebuat %}

{% block content %}

<div class="container mt-5 mb-4">
  <div class="row">
    <div class="col-lg-5 col-md-6 align-self-center mb-3">
      <div class="image-block two bg-about text-center">
        <img class="img-fluid" src="{% static 'images/running3.png' %}" alt="">
      </div>
    </div>
    <div class="col-lg-6 col-md-6 align-self-center ml-lg-auto">
      <div class="content-block">
        <h2 style="font-size: x-large; font-weight: 400;">Buat jadwalmu dan ajak teman berolahraga bersama
          <!-- <span class="alternate">untukmu</span> -->
        </h2>
        <!-- <div class="description-one">
                  <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusm tempor incididunt ut labore dolore magna aliqua enim ad
                  </p>
              </div>
              <div class="description-two">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmtempor incididunt ut labore et dolore magna aliq enim ad minim</p>
              </div>
              <ul class="list-inline">
                  <li class="list-inline-item">
                      <a href="#" class="btn btn-main-md">Buy ticket</a>
                  </li>
                  <li class="list-inline-item">
                      <a href="#" class="btn btn-transparent-md">Read more</a>
                  </li>
              </ul> -->
      </div>
    </div>
  </div>
</div>

<section class="section gallery pt-2 pb-0">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="gallery-wrapper less-gutter">
          <hr style="margin-bottom: 30px;">
          <h6 style="font-weight: 500; text-align: center; color: #00BEDA;">Pilih olahraga yang kamu mau</h6>
          <div class="gallery-item mix meeting">
            <div class="image-block">
              <div class="image">
                <img src="{% static 'images/Badminton.png' %}" alt="gallery-image" class="img-fluid">
                <div class="primary-overlay">
                  <a class="image-popup" data-effect="mfp-with-zoom"
                    href="#">Bulutangkis</a>
                </div>
              </div>
            </div>
          </div>
          <div class="gallery-item mix party events">
            <div class="image-block">
              <div class="image">
                <img src="{% static 'images/Basket.png' %}" alt="gallery-image" class="img-fluid">
                <div class="primary-overlay">
                  <a class="image-popup" data-effect="mfp-with-zoom"
                    href="#">Bola Basket</a>
                </div>
              </div>
            </div>
          </div>
          <div class="gallery-item mix meeting party">
            <div class="image-block">
              <div class="image">
                <img src="{% static 'images/Futsal.png' %}" alt="gallery-image" class="img-fluid">
                <div class="primary-overlay">
                  <a class="image-popup" data-effect="mfp-with-zoom"
                    href="#">Futsal</a>
                </div>
              </div>
            </div>
          </div>
          <div class="gallery-item mix meeting concert">
            <div class="image-block">
              <div class="image">
                <img src="{% static 'images/Volleyball.png' %}" alt="gallery-image" class="img-fluid">
                <div class="primary-overlay">
                  <a class="image-popup" data-effect="mfp-with-zoom"
                    href="#">Bola Voli</a>
                </div>
              </div>
            </div>
          </div>
          <div class="gallery-item mix concert party">
            <div class="image-block">
              <div class="image">
                <img src="{% static 'images/Tennis.png' %}" alt="gallery-image" class="img-fluid">
                <div class="primary-overlay">
                  <a class="image-popup" data-effect="mfp-with-zoom"
                    href="#">Tenis Lapangan</a>
                </div>
              </div>
            </div>
          </div>
          <div class="gallery-item mix events conference">
            <div class="image-block">
              <div class="image">
                <img src="{% static 'images/Table Tennis.png' %}" alt="gallery-image" class="img-fluid">
                <div class="primary-overlay">
                  <a class="image-popup" data-effect="mfp-with-zoom"
                    href="#">Tenis Meja</a>
                </div>
              </div>
            </div>
          </div>
          <div class="gallery-item mix party conference">
            <div class="image-block">
              <div class="image">
                <img src="{% static 'images/running.png' %}" alt="gallery-image" class="img-fluid">
                <div class="primary-overlay">
                  <a class="image-popup" data-effect="mfp-with-zoom"
                    href="#">Lari</a>
                </div>
              </div>
            </div>
          </div>
          <div class="gallery-item mix events conference">
            <div class="image-block">
              <div class="image">
                <img src="{% static 'images/Cycling.png' %}" alt="gallery-image" class="img-fluid">
                <div class="primary-overlay">
                  <a class="image-popup" data-effect="mfp-with-zoom"
                    href="#">Bersepeda</a>
                </div>
              </div>
            </div>
          </div>
          <div class="gallery-item mix party conference">
            <div class="image-block">
              <div class="image">
                <img src="{% static 'images/Swimming.png' %}" alt="gallery-image" class="img-fluid">
                <div class="primary-overlay">
                  <a class="image-popup" data-effect="mfp-with-zoom"
                    href="#">Renang</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container d-flex flex-column align-items-center justify-content-center form-re pb-5 mb-5">
  <div class="tulisan-login mt-1 mb-3">
    Sport Activity
  </div>
  <form method="POST" action="{% url 'sportivity:buat-event-jenis' %}">
    {% csrf_token %}
    <div class="mb-3 mt-2">
      <label for="jenis_olahraga" class="form-label"></label>
      <select required class="form-select" name="jenis_olahraga">
        <option value="1">Badminton</option>
        <option value="2">Sepak Bola</option>
        <option value="3">Basket</option>
        <option value="4">Voli</option>
        <option value="5">Tenis</option>
        <option value="6">Tenis Meja</option>
        <option value="7">Baseball</option>
        <option value="8">Bersepeda</option>
        <option value="9">Lari</option>
        <option value="10">Other</option>
      </select>
    </div>
    <button id="button-submit" type="submit" class="btn btn-success w-100 mt-4" value="submit">Next</button>
    <input type=button value="Previous Page" class="btn btn-danger w-100 mt-4" onClick="javascript:history.go(-1);">
  </form>
<br>
</div>

{% comment %}
<script src="{%static 'js/register.js'%}"></script> {% endcomment %}
{% endblock content %}