{% extends 'main/base.html' %}
{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/register-pengguna.css' %}" with linkback="/">
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% endblock meta%}

{% block pagename %}Buat Aktivitas{% endblock pagename %}
{% block activebuat %}nav-active{% endblock activebuat %}
  
{% block content %}
<div class="container d-flex flex-column align-items-center justify-content-center form-re">
    <div class="tulisan-login mt-4 mb-3">
        Checking
    </div>
    <h4>Activity Name: {{nama_event}}</h4>
    <h4>Host: {{host}}</h4>
    <h4>Deskripsi: {{deskripsi}}</h4>
    <h4>Tanggal: {{tanggal}}</h4>
    <h4>Waktu: {{waktu_start}} - {{waktu_end}}</h4>
    <h4>Min-Max Player: {{min_participant}}-{{max_participant}} players</h4>
    <h4>Harga: Rp{{harga}}/orang</h4>
    <h4>Level: {{level}}</h4>
    <form method="POST" action="{% url 'sportivity:buat-event-checking' %}">
      {% csrf_token %}
      <button id="button-submit" type="submit" class="btn btn-success w-100 mt-4" value="submit">Buat Event</button>
      <input type=button value="Previous Page" class="btn btn-danger w-100 mt-4" onClick="javascript:history.go(-1);">
    </form>
    
</div>

{% endblock content %} 