{% extends 'main/base.html' %}
{% load static %}

{% block meta %}
<!-- ========== Start Eventre Templates Head ========== -->

<!-- SITE TITTLE -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- PLUGINS CSS STYLE -->
<!-- Bootstrap -->
<link href="{% static 'assets-eventre/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<!-- Font Awesome -->
<link href="{% static 'assets-eventre/plugins/font-awsome/css/font-awesome.min.css' %}" rel="stylesheet">
<!-- Magnific Popup -->
<link href="{% static 'assets-eventre/plugins/magnific-popup/magnific-popup.css' %}" rel="stylesheet">
<!-- Slick Carousel -->
<link href="{% static 'assets-eventre/plugins/slick/slick.css' %}" rel="stylesheet">
<link href="{% static 'assets-eventre/plugins/slick/slick-theme.css' %}" rel="stylesheet">
<!-- CUSTOM CSS -->
<link href="{% static 'assets-eventre/css/style.css' %}" rel="stylesheet">

<!-- ========== End Eventre Templates Head ========== -->
{% comment %}
<link rel="stylesheet" href="{% static 'css/profil.css'%}"> {% endcomment %}
<link rel="stylesheet" href="{% static 'css/list-event.css'%}">
{% endblock meta %}

{% block pagename %}Sportivity{% endblock pagename %}
{% block activehome %}nav-active{% endblock activehome %}

{% block content %}

<section class="news section pt-5 text-center">
    <div class="container">
        <h4 class="col-lg-8 col-md-10" style="font-weight: 500;">Detail Aktivitas</h4>
        <div class="row mt-30">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="block">
                    <!-- Article -->
                    <article class="blog-post single text-start">
                        <div class="post-thumb-detail">
                            <img src="{% static 'assets-eventre/images/news/single-post.jpg' %}" alt="post-image"
                                class="img-fluid">
                        </div>
                        <div class="post-content">
                            <div class="d-flex flex-row">
                                <div class="date">
                                    <h4 class="my-auto">{{tanggal}}</span></h4>
                                </div>
                                <div class="date jenis-olahraga">
                                    <h4 class="my-auto">(Jenis Olahraga)</span></h4>
                                </div>
                            </div>
                            <div class="post-title">
                                <h3>{{nama_event}}</h3>
                            </div>
                            <div class="post-meta">
                                <ul class="list-inline d-flex">
                                    <li class="list-inline-item">
                                        <i class="fa fa-user-o"></i>
                                        <a href="#">{{host}}</a>
                                    </li>
                                    <li class="list-inline-item d-flex">
                                        <i class="fas fa-fire-alt"></i>
                                        <P>Skill: {{level}}</p>
                                    </li>
                                    {% comment %} <li class="list-inline-item">
                                        <i class="fa fa-comments-o"></i>
                                        <a href="#">30</a>
                                    </li> {% endcomment %}
                                </ul>
                            </div>
                            <div class="registration">
                                <div class="container-fuild py-4">
                                    <div class="row">
                                        <div class="post-details">
                                            <div class="col-md-12 p-0">
                                                <div class="service-block bg-service overlay-primary text-center">
                                                    <div class="row no-gutters">
                                                        <div class="col-12 col-md-6">
                                                            <!-- Service item -->
                                                            <div class="service-item">
                                                                <i class="far fa-clock"></i>
                                                                <h5>{{waktu_start}} - {{waktu_end}}</h5>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-md-6">
                                                            <!-- Service item -->
                                                            <div class="service-item">
                                                                <i class="fas fa-map-marker-alt"></i>
                                                                <h5>{{venue}}</h5>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-md-6">
                                                            <!-- Service item -->
                                                            <div class="service-item">
                                                                <i class="fas fa-coins"></i>
                                                                <h5>Rp{{harga}}/orang</h5>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-md-6">
                                                            <!-- Service item -->
                                                            <div class="service-item">
                                                                <i class="fas fa-user-friends"></i>
                                                                <h5>{{min_participant}}-{{max_participant}} players</h5>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% comment %} <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusm tempor
                                    incididunt ut labore dolore magna aliqua enim ad minim veniam quis nostrud.laboris
                                    nisi ut aliquip ex ea commodo conse
                                    quat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                                    eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                                    culpa qui officia deserunt mollit anim id est laborum.
                                </p>
                                <p>
                                    Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
                                    consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                                </p>
                                <p>
                                    Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
                                    adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore
                                    magnam aliquam.
                                    quaerat voluptatem.
                                </p>
                                <div class="quotes">
                                    <blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusm
                                        tempor incididunt ut labore dolore magna aliqua enim ad minim veniam quis
                                        nostrud.laboris nisi ut aliquip ex ea commodo consequat. </blockquote>
                                </div>
                                <p>
                                    Amet consectetur adipisicing elit, sed do eiusm tempor incididunt ut labore dolore
                                    magna aliqua enim ad minim veniam quis nostrud.laboris nisi ut aliquip ex ea commodo
                                    conse
                                </p> {% endcomment %}
                                <div class="share-block">
                                    <div class="tag mt-3 mb-4">
                                        <p>
                                            Deskripsi:
                                            <br>
                                            {{deskripsi}}
                                            
                                        </p>

                                        {% comment %} <ul class="list-inline">
                                            <li class="list-inline-item">
                                                <a href="#">Event,</a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a href="#">Conference,</a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a href="#">Business</a>
                                            </li>
                                        </ul> {% endcomment %}
                                    </div>
                                    <div class="share">
                                        <p>
                                            Share: &nbsp;<a href="#"><i class="fas fa-share-alt"></i></a>
                                        </p>
                                        {% comment %} <ul class="social-links-share list-inline">
                                            <li class="list-inline-item">
                                                <a href="#"><i class="fa fa-facebook"></i></a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a href="#"><i class="fa fa-twitter"></i></a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a href="#"><i class="fa fa-instagram"></i></a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a href="#"><i class="fa fa-rss"></i></a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a href="#"><i class="fa fa-vimeo"></i></a>
                                            </li>
                                        </ul> {% endcomment %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                    <!-- Comment Section -->
                    <div class="comments text-start">
                        <h5>Comments (3)</h5>
                        <!-- Comment -->
                        <div class="media comment">
                            <img src="{% static 'assets-eventre/images/speakers/speaker-thumb-four.jpg' %}" alt="image">
                            <div class="media-body">
                                <h6>Jessica Brown</h6>
                                <ul class="list-inline">
                                    <li class="list-inline-item"><span class="fa fa-calendar"></span>Mar 20, 2016</li>
                                    <li class="list-inline-item"><a href="#">Reply</a></li>
                                </ul>
                                <p>
                                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                                    doloremque laudant tota rem ape riamipsa eaque quae nisi ut aliquip commodo
                                    consequat.
                                </p>
                                <!-- Nested Comment -->
                                <div class="media comment">
                                    <img src="{% static 'assets-eventre/images/speakers/speaker-thumb-three.jpg' %}"
                                        alt="image">
                                    <div class="media-body">
                                        <h6>Jonathan Doe</h6>
                                        <ul class="list-inline">
                                            <li class="list-inline-item"><span class="fa fa-calendar"></span>Mar 20,
                                                2016</li>
                                        </ul>
                                        <p>
                                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                                            doloremque laudant tota rem ape riamipsa eaque quae nisi
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Comment -->
                        <div class="media comment">
                            <img src="{% static 'assets-eventre/images/speakers/speaker-thumb-two.jpg' %}" alt="image">
                            <div class="media-body">
                                <h6>Adam Smith</h6>
                                <ul class="list-inline">
                                    <li class="list-inline-item"><span class="fa fa-calendar"></span>Mar 20, 2016</li>
                                    <li class="list-inline-item"><a href="#">Reply</a></li>
                                </ul>
                                <p>
                                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                                    doloremque laudant tota rem ape riamipsa eaque quae nisi ut aliquip commodo
                                    consequat.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="comment-form">
                        <h5>Leave A Comment</h5>
                        <form action="#" class="row">
                            <div class="col-12">
                                <textarea class="form-control main" name="comment" id="comment" rows="10"
                                    placeholder="Your Review"></textarea>
                            </div>
                            <div class="col-md-6">
                                <input type="text" class="form-control main" name="text" id="name"
                                    placeholder="Your Name">
                            </div>
                            <div class="col-md-6">
                                <input type="email" class="form-control main" name="email" id="email"
                                    placeholder="Your Email">
                            </div>
                            <div class="col-12">
                                <button class="btn btn-main-md" type="submit">Submit Now</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-10 mx-auto text-start">
                <div class="sidebar">
                    <!-- Search Widget -->
                    <div class="widget search p-0">
                        <div class="input-group">
                            <input type="text" class="form-control main m-0" id="expire" placeholder="Search...">
                            <span class="input-group-addon"><i class="fa fa-search"></i></span>
                        </div>
                    </div>
                    <!-- Category Widget -->
                    <div class="widget category">
                        <!-- Widget Header -->
                        <h5 class="widget-header">Categories</h5>
                        <ul class="category-list m-0 p-0">
                            <li><a href="">Strategy Planning <span class="float-right">(6)</span></a></li>
                            <li><a href="">Corporate Identity <span class="float-right">(9)</span></a></li>
                            <li><a href="">Brand Creation<span class="float-right">(3)</span></a></li>
                            <li><a href="">Entertainment<span class="float-right">(5)</span></a></li>
                            <li><a href="">Conference<span class="float-right">(7)</span></a></li>
                        </ul>
                    </div>
                    <!-- Latest post -->
                    <div class="widget latest-post">
                        <h5 class="widget-header">Latest Post</h5>
                        <!-- Post -->
                        <div class="media">
                            <img src="{% static 'assets-eventre/images/news/post-thumb-sm-one.jpg' %}" class="img-fluid"
                                alt="post-thumb">
                            <div class="media-body">
                                <h6><a href="">Nam hendrerit eros in ligula suscipit suscipit</a></h6>
                                <p href="#"><span class="fa fa-calendar"></span>02 Feb, 2017</p>
                            </div>
                        </div>
                        <!-- Post -->
                        <div class="media">
                            <img src="{% static 'assets-eventre/images/news/post-thumb-sm-two.jpg' %}" class="img-fluid"
                                alt="post-thumb">
                            <div class="media-body">
                                <h6><a href="">Nam hendrerit eros in ligula suscipit suscipit</a></h6>
                                <p href="#"><span class="fa fa-calendar"></span>02 Feb, 2017</p>
                            </div>
                        </div>
                        <!-- Post -->
                        <div class="media">
                            <img src="{% static 'assets-eventre/images/news/post-thumb-sm-three.jp' %}g"
                                class="img-fluid" alt="post-thumb">
                            <div class="media-body">
                                <h6><a href="">Nam hendrerit eros in ligula suscipit suscipit</a></h6>
                                <p href="#"><span class="fa fa-calendar"></span>02 Feb, 2017</p>
                            </div>
                        </div>
                        <!-- Post -->
                        <div class="media">
                            <img src="{% static 'assets-eventre/images/news/post-thumb-sm-four.jpg' %}"
                                class="img-fluid" alt="post-thumb">
                            <div class="media-body">
                                <h6><a href="">Nam hendrerit eros in ligula suscipit suscipit</a></h6>
                                <p href="#"><span class="fa fa-calendar"></span>02 Feb, 2017</p>
                            </div>
                        </div>
                    </div>
                    <!-- Popular Tag Widget -->
                    <div class="widget tags">
                        <!-- Widget Header -->
                        <h5 class="widget-header">Popular Tags</h5>
                        <ul class="list-inline">
                            <li class="list-inline-item"><a href="#">Culture</a></li>
                            <li class="list-inline-item"><a href="#">Social</a></li>
                            <li class="list-inline-item"><a href="#">News</a></li>
                            <li class="list-inline-item"><a href="#">Events</a></li>
                            <li class="list-inline-item"><a href="#">Sports</a></li>
                            <li class="list-inline-item"><a href="#">Music</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--====  End of News Posts  ====-->

<div class="container d-flex flex-column align-items-center justify-content-center form-re">
    <div class="tulisan-login mt-4 mb-3">
        Detail Event
    </div>
    <h4>Activity Name: {{nama_event}}</h4>
    <h4>Host: {{host}}</h4>
    <h4>Deskripsi: {{deskripsi}}</h4>
    <h4>Tanggal: {{tanggal}}</h4>
    <h4>Waktu: {{waktu_start}} - {{waktu_end}}</h4>
    <h4>Min-Max Player: {{min_participant}}-{{max_participant}} players</h4>
    <h4>Harga: Rp{{harga}}/orang</h4>
    <h4>Level: {{level}}</h4>

    {% if host == pengguna %}
    <form action="{% url 'sportivity:list-request' id_event %}" method='POST'>
        {% csrf_token %}
        <button id="button-submit" type="submit" class="btn btn-danger w-100 mt-4" value="submit">List Request</button>
    </form>
    <form action="{% url 'sportivity:end-event' id_event %}" method='POST'>
        {% csrf_token %}
          <button id="button-submit" type="submit" class="btn btn-danger w-100 mt-4" value="submit">End Event</button>
    </form>
    {% else %}
    <form action="{% url 'sportivity:request-join' id_event %}" method='POST'>
        {% csrf_token %}
        <button id="button-submit" type="submit" class="btn btn-danger w-100 mt-4" value="submit">Request Join</button>
    </form>
    {% endif %}


    {% endblock content %}