{% extends 'main/base.html' %}
{% load static %}

{% block meta %}
<!-- ========== Start Eventre Templates Head ========== -->

<!-- SITE TITTLE -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- PLUGINS CSS STYLE -->
<!-- Bootstrap -->
<link href="{% static 'assets-eventre/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<!-- Font Awesome -->
<link href="{% static 'assets-eventre/plugins/font-awsome/css/font-awesome.min.css' %}" rel="stylesheet">
<!-- Magnific Popup -->
<link href="{% static 'assets-eventre/plugins/magnific-popup/magnific-popup.css' %}" rel="stylesheet">
<!-- Slick Carousel -->
<link href="{% static 'assets-eventre/plugins/slick/slick.css' %}" rel="stylesheet">
<link href="{% static 'assets-eventre/plugins/slick/slick-theme.css' %}" rel="stylesheet">
<!-- CUSTOM CSS -->
<link href="{% static 'assets-eventre/css/style.css' %}" rel="stylesheet">

<!-- ========== End Eventre Templates Head ========== -->
{% comment %}
<link rel="stylesheet" href="{% static 'css/profil.css'%}"> {% endcomment %}
<link rel="stylesheet" href="{% static 'css/list-event.css'%}">
{% endblock meta %}

{% block pagename %}Home{% endblock pagename %}
{% block activehome %}nav-active{% endblock activehome %}

{% block content %}

<section class="news section pb-5 mb-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">

                <div class="container mb-5">
                    <div class="row">
                        <div class="col-lg-5 col-md-6 col-10 align-self-center mb-3 mx-auto">
                            <div class="image-block two bg-about text-center">
                                <img class="img-fluid" src="{% static 'images/logo_sporteev.jpg' %}" alt="">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 align-self-center ml-lg-auto">
                            <div class="content-block">
                                <h2 style="font-size: 150%; font-weight: 500;">Cari olahraga yang cocok untukmu!
                                    <!-- <span class="alternate">untukmu</span> -->
                                </h2>
                                <!-- <div class="description-one">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusm tempor incididunt ut labore dolore magna aliqua enim ad
                                        </p>
                                    </div>
                                    <div class="description-two">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmtempor incididunt ut labore et dolore magna aliq enim ad minim</p>
                                    </div>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a href="#" class="btn btn-main-md">Buy ticket</a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="#" class="btn btn-transparent-md">Read more</a>
                                        </li>
                                    </ul> -->
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Search Widget -->
                <div class="widget search px-3">
                    <div class="input-group">
                        <input type="text" class="form-control main m-0" id="expire" placeholder="Cari...">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    </div>
                </div>
                <div class="block">
                    <div class="row">
                        {% for event in list_event %}
                        <div class="col-md-6 col-11 m-auto">
                            <div class="blog-post">
                                <div class="post-thumb">
                                    <a href="{% url 'sportivity:detail-event' event.id %}">
                                        <img src="{% static 'assets-eventre/images/news/post-thumb-one.jpg' %}"
                                            alt="post-image" class="img-fluid">
                                    </a>
                                </div>
                                <div class="post-content">
                                    <div class="date">
                                        <h4 class="my-auto">{{event.tanggal}}</span></h4>
                                    </div>
                                    <div class="post-title">
                                        <h2 class="fs-3"><a
                                                href="{% url 'sportivity:detail-event' event.id %}">{{event.nama_event}}</a>
                                        </h2>
                                    </div>
                                    <div class="post-meta">
                                        <ul class="list-inline">
                                            <li class="list-inline-item">
                                                <i class="fa fa-user-o"></i>
                                                <a href="#">{{event.host}}</a>
                                            </li>
                                            <li class="list-inline-item">
                                                <i class="fa fa-heart-o"></i>
                                                <a href="#">350</a>
                                            </li>
                                            <li class="list-inline-item">
                                                <i class="fa fa-comments-o"></i>
                                                <a href="#">30</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% comment %} <div class="col-md-6 col-10 m-auto">
                            <div class="blog-post">
                                <div class="post-thumb">
                                    <a href="news-single.html">
                                        <img src="{% static 'assets-eventre/images/news/post-thumb-one.jpg' %}"
                                            alt="post-image" class="img-fluid">
                                    </a>
                                </div>
                                <div class="post-content">
                                    <div class="date">
                                        <h4>{{event.tanggal}}</span></h4>
                                    </div>
                                    <div class="post-title">
                                        <h2><a
                                                href="{% url 'sportivity:detail-event' event.id %}">{{event.nama_event}}</a>
                                        </h2>
                                    </div>
                                    <div class="post-meta">
                                        <ul class="list-inline">
                                            <li class="list-inline-item">
                                                <i class="fa fa-user-o"></i>
                                                <a href="#">{{host}}</a>
                                            </li>
                                            <li class="list-inline-item">
                                                <i class="fa fa-heart-o"></i>
                                                <a href="#">350</a>
                                            </li>
                                            <li class="list-inline-item">
                                                <i class="fa fa-comments-o"></i>
                                                <a href="#">30</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div> {% endcomment %}
                        <!-- ========================================================== -->
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-10 mx-auto">
                <div class="sidebar">
                    <!-- Search Widget -->
                    <!-- <div class="widget search p-0">
                        <div class="input-group">
                            <input type="text" class="form-control main m-0" id="expire" placeholder="Cari...">
                            <span class="input-group-addon"><i class="fa fa-search"></i></span>
                        </div>
                    </div> -->
                    <!-- Category Widget -->
                    <div class="widget category">
                        <!-- Widget Header -->
                        <h5 class="widget-header">Cabang olahraga</h5>
                        <ul class="category-list m-0 p-0">
                            <li><a href="">Futsal <span class="float-right">(6)</span></a></li>
                            <li><a href="">Bulutangkis <span class="float-right">(9)</span></a></li>
                            <li><a href="">Voli<span class="float-right">(3)</span></a></li>
                            <li><a href="">Basket<span class="float-right">(5)</span></a></li>
                            <li><a href="">Tenis Lapangan<span class="float-right">(7)</span></a></li>
                        </ul>
                    </div>
                    <!-- Latest post -->
                    <div class="widget latest-post">
                        <h5 class="widget-header">Rekomendasi</h5>
                        <!-- Post -->
                        <div class="media">
                            <img src="{% static 'assets-eventre/images/news/post-thumb-sm-one.jpg' %}" class="img-fluid"
                                alt="post-thumb">
                            <div class="media-body">
                                <h6><a href="">Nam hendrerit eros in ligula suscipit suscipit</a></h6>
                                <p href="#"><span class="fa fa-calendar"></span>02 Feb, 2017</p>
                            </div>
                        </div>
                        <!-- Post -->
                        <div class="media">
                            <img src="{% static 'assets-eventre/images/news/post-thumb-sm-two.jpg' %}" class="img-fluid"
                                alt="post-thumb">
                            <div class="media-body">
                                <h6><a href="">Nam hendrerit eros in ligula suscipit suscipit</a></h6>
                                <p href="#"><span class="fa fa-calendar"></span>02 Feb, 2017</p>
                            </div>
                        </div>
                        <!-- Post -->
                        <div class="media">
                            <img src="{% static 'assets-eventre/images/news/post-thumb-sm-three.jpg' %}"
                                class="img-fluid" alt="post-thumb">
                            <div class="media-body">
                                <h6><a href="">Nam hendrerit eros in ligula suscipit suscipit</a></h6>
                                <p href="#"><span class="fa fa-calendar"></span>02 Feb, 2017</p>
                            </div>
                        </div>
                        <!-- Post -->
                        <div class="media">
                            <img src="{% static 'assets-eventre/images/news/post-thumb-sm-four.jpg' %}"
                                class="img-fluid" alt="post-thumb">
                            <div class="media-body">
                                <h6><a href="">Nam hendrerit eros in ligula suscipit suscipit</a></h6>
                                <p href="#"><span class="fa fa-calendar"></span>02 Feb, 2017</p>
                            </div>
                        </div>
                    </div>
                    <!-- Popular Tag Widget -->
                    <div class="widget tags">
                        <!-- Widget Header -->
                        <h5 class="widget-header">Popular Tags</h5>
                        <ul class="list-inline">
                            <li class="list-inline-item"><a href="#">Culture</a></li>
                            <li class="list-inline-item"><a href="#">Social</a></li>
                            <li class="list-inline-item"><a href="#">News</a></li>
                            <li class="list-inline-item"><a href="#">Events</a></li>
                            <li class="list-inline-item"><a href="#">Sports</a></li>
                            <li class="list-inline-item"><a href="#">Music</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- <div class="content-container">
    <div class="container mt-5 text-center">
    </div>
    <div class="text-container mt-5">
        <p class="list-barang">List Event</p>
    </div>

    {% for event in list_event %}
    <a href="{% url 'sportivity:detail-event' event.id %}">
        <div class="card">
            <div class="card-body d-flex">
                {% comment %} {% if event.photo %}
                <img src="{{event.photo.url}}" id="display-picture" class="image-card" />
                {% else %}
                <img src="{% static 'images/profile-picture-default.png' %}" id="display-picture" class="image-card" />
                {% endif %} {% endcomment %}
                <div class="text-card">
                    <p class="card-title">{{event.nama_event}}</p>
                    <p class="card-title-price">Rp{{event.harga}}</p>
                    <p class="card-title-date">{{event.venue}}</p>
                    <p class="card-title-title">{{event.level}}
                    <p>

                </div>
                <img class="arrow" src="{% static 'img/arrow.svg' %}" alt="">
            </div>
        </div>
    </a>
    {% endfor %}
</div> -->
{% endblock content %}