{% extends 'main/base.html' %}
{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/register-pengguna.css' %}" with linkback="/">
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% endblock meta%}
  
{% block content %}


    <div class="content-container">
        <div class="container mt-5 text-center">
          </div>
        <div class="text-container mt-5">
            <p class="list-barang">List Request</p>
        </div>

    
        {% for event_request in list_event_request %}
            <div class="card">
                <div class="card-body d-flex">
                    {% if event_request.participant.photo %}
                    <img src="{{event_request.participant.photo.url}}" id="display-picture" class="image-card" height="100 px"/>
                    {% else %}
                    <img src="{% static 'images/profile-picture-default.png' %}" id="display-picture" class="image-card" width="50"/>
                    {% endif %}
                    <div class="text-card">
                        <p class="card-title">{{event_request.participant.user.username}}</p>
                        <p class="card-title">{{event_request.participant.user.first_name}} {{event_request.participant.user.last_name}}</p>
                        <p class="card-title-date"><p>
                        {% if event_request.status_request == 1 %}
                        {% comment %} <p class="card-title-date">Menunggu Konfirmasi<p> {% endcomment %}
                        <img class="arrow" src="https://media.discordapp.net/attachments/884233446568894516/915375071034507375/menunggu.png" alt="">
                        <form method="POST" action="{% url 'sportivity:terima-request' event_request.id %}">
                            {% csrf_token %}
                              <input type="hidden" value="{{id_event}}" name="id_event"> 
                              <button id="button-submit" type="submit" class="btn btn-success w-100 mt-4" value="submit">Terima</button>
                        </form>
                        <form method="POST" action="{% url 'sportivity:tolak-request' event_request.id %}">
                            {% csrf_token %}
                            <input type="hidden" value="{{id_event}}" name="id_event">  
                              <button id="button-submit" type="submit" class="btn btn-danger w-100 mt-4" value="submit">Tolak</button>
                          </form>

                        {% elif event_request.status_request == 2 %}
                        {% comment %} <p class="card-title-date">Diterima<p> {% endcomment %}
                        <img class="arrow" src="https://media.discordapp.net/attachments/884233446568894516/915375071277744149/diterima.png" alt="">
                        
                        {% elif event_request.status_request == 3 %}
                        {% comment %} <p class="card-title-date">Ditolak<p> {% endcomment %}
                        <img class="arrow" src="https://media.discordapp.net/attachments/884233446568894516/917912038876012605/Primary.png" alt="">
                        {% endif %}
                        {% comment %} <img class="arrow" src="https://cdn.discordapp.com/attachments/884233446568894516/915375071277744149/diterima.png" alt=""> {% endcomment %}

                    </div>
                    <img class="arrow" src="{% static 'img/arrow.svg' %}" alt="">
                </div>
            </div>
        {% endfor order:list_order %}
    </div>
    
        
{% endblock content %}
