{% extends 'main/base.html' %}
{% load static %}

{% block meta %}
<!-- ========== Start Eventre Templates Head ========== -->

<!-- SITE TITTLE -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- PLUGINS CSS STYLE -->
<!-- Bootstrap -->
<link href="{% static 'assets-eventre/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<!-- Font Awesome -->
<link href="{% static 'assets-eventre/plugins/font-awsome/css/font-awesome.min.css' %}" rel="stylesheet">
<!-- Magnific Popup -->
<link href="{% static 'assets-eventre/plugins/magnific-popup/magnific-popup.css' %}" rel="stylesheet">
<!-- Slick Carousel -->
<link href="{% static 'assets-eventre/plugins/slick/slick.css' %}" rel="stylesheet">
<link href="{% static 'assets-eventre/plugins/slick/slick-theme.css' %}" rel="stylesheet">
<!-- CUSTOM CSS -->
<link href="{% static 'assets-eventre/css/style.css' %}" rel="stylesheet">

<!-- ========== End Eventre Templates Head ========== -->
{% comment %}
<link rel="stylesheet" href="{% static 'css/profil.css'%}"> {% endcomment %}
<!-- <link rel="stylesheet" href="{% static 'css/list-event.css'%}"> -->
{% endblock meta %}

{% block pagename %}Aktivitas Saya{% endblock pagename %}
{% block activelog %}nav-active{% endblock activelog %}

{% block content %}

<section class="news-hr section mb-0">
	<div class="container px-2">
		<div class="">
			<div class="col-12">
				<div class="text-center mx-5 mt-4 mb-5">
					<h3>Log <span class="alternate">Aktivitas</span></h3>
					<!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, enim.</p> -->
				</div>
			</div>
		</div>
		<div class="row no-gutters">
			{% for event in list_event %}
			<div class="col-md-6 p-2">
				<article class="news-post-hr">
					<div class="post-thumb">
						<a href="{% url 'sportivity:detail-event' event.id %}">
							<img src="{% static 'assets-eventre/images/news/bcf.png' %}" alt="post-image"
								class="img-fluid">
						</a>
					</div>
					<div class="post-contents border-top">
						<div class="post-title text-start">
							<h6 class="text-start"><a href="{% url 'sportivity:detail-event' event.id %}">{{event.nama_event}}</a></h6>
							<p style="color: #00BEDA">{{event.host}}</p>
						</div>
						<div class="row post-exerpts">
							<div class="col-6 hiasan">
								{{event.get_jenis_olahraga_display}}
							</div>
							<div class="col-6 hiasan">
								{{event.get_status_display}}
							</div>
							<div class="col-6 hiasan">
								{{event.venue}}
							</div>
						</div>

						<div class="date">
							<h4 class="my-auto">{{event.tanggal}}</span></h4>
						</div>
						<div class="more">
							<a href="{% url 'sportivity:detail-event' event.id %}">Detail</a>
						</div>
					</div>
				</article>
			</div>
			{% endfor %}
		</div>
	</div>
</section>

<div class="block">
	{% for event in list_event %}
	<div class="card mb-3" style="max-width: 18rem;">
		<div class="card-header">{{event.nama_event}}</div>
		<div class="card-body">
			<div class="post-thumb">
				<a href="{% url 'sportivity:detail-event' event.id %}">
					<img src="{% static 'assets-eventre/images/news/post-thumb-one.jpg' %}" alt="post-image"
						class="img-fluid">
				</a>
			</div>
			<h5 class="card-title">{{event.host}}</h5>
		</div>
		<p class="card-text">{{event.get_jenis_olahraga_display}}</p>
		<p class="card-text">{{event.get_status_display}}</p>
		<p class="card-text">{{event.alamat}}</p>
	</div>
	{% endfor %}
</div>
</div>

<!-- JAVASCRIPTS -->
<!-- jQuey -->
<script src="{% static 'assets-eventre/plugins/jquery/jquery.js' %}"></script>
<!-- Popper js -->
<script src="{% static 'assets-eventre/plugins/popper/popper.min.js' %}"></script>
<!-- Bootstrap 4 -->
<script src="{% static 'assets-eventre/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
<!-- Smooth Scroll -->
<script src="{% static 'assets-eventre/plugins/smoothscroll/SmoothScroll.min.js' %}"></script>
<!-- Isotope -->
<script src="{% static 'assets-eventre/plugins/isotope/mixitup.min.js' %}"></script>
<!-- Magnific Popup -->
<script src="{% static 'assets-eventre/plugins/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
<!-- Slick Carousel -->
<script src="{% static 'assets-eventre/plugins/slick/slick.min.js' %}"></script>
<!-- SyoTimer -->
<script src="{% static 'assets-eventre/plugins/syotimer/jquery.syotimer.min.js' %}"></script>
<!-- Google Mapl -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu5nZKbeK-WHQ70oqOWo-_4VmwOwKP9YQ"></script>
<script type="text/javascript" src="{% static 'assets-eventre/plugins/google-map/gmap.js' %}"></script>
<!-- Custom Script -->
<script src="{% static 'assets-eventre/js/custom.js' %}"></script>

{% endblock content %}